$small: 375px;

$background: rgba(18, 18, 18, 0.95);
$icon-colour: #a8bd92;
$yellow-colour: #cdce89;
$green-box: #2c352e;
$card-background: #212121;

$form-header-border: 1px solid #3e4c41;

$box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

$surface-primary: $green-box;
$surface-solid: rgba(25, 25, 25, 1);

$board: #303030;
$board-border: #b7b7b7;
$board-base-index: #a8bd92;
$board-number: #ffffff;
$board-highlight: #3f493e;
$board-secondary-highlight: #4b514c;

$cancel-red: #a33636;
$cancel-red-hover: #b55151;

$light-mode-board: #0e0f0f;
$light-mode-highlight: #dde6ee;

$border-radius: 3px;

/* Text Colors */
$form-color: #cacaca;
$primary-color: #ffff;
$text-primary: rgba(255, 255, 255, 0.7);

/*Inputs*/
$form-input-background: #c0d3c3;

/* Buttons */
$submit: #ffe581;
$submit-hover: #a6bd91;
$submit-hover-text: black;
$control-buttons: $submit;
$control-buttons-on: #b9cfa1;
